.logo{
    width: 80px;
    height: 80px;
    background-color: tomato;
  }
  
  
  li{
    margin:0px 20px 0px;
      justify-content: initial;
      text-decoration: none;
  }
  .nav-link{
      color: black;
  }
  
  #header{
    background-color: white;
    margin-top: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  
  .footer {
   
     background-color:white;
     color: black;
     display:flex;
     justify-content: center;
     align-items: center;
     height: 50px;
     bottom: 0;
     position: relative;
     width: 100%;
     
   }
  
  
  
   /* ________________________________________________________________*/

   .headline{
    margin-top: 8%;
    text-align: center;
    font-family: initial;
    font-weight: bold;
  }

.container{  
    display: flex;
}
.col-6{
    padding: 3%;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
  background-color: #77cc6d;
  margin-bottom: 5%;
}

.textarea{
  width: 90%;
}
.names{
    margin: 3%;
    display: flex;
}
.section{
  height: 100%;
  width: 100%;
}



/*--Linked ----*/
.section #services {
  text-align: center;
  transform: translatez(0);
}
.section #services h2 {
 font-family: initial;
  color: #fff;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
}
.section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;

}
.section #services li div {
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
.section #services li a {
  color: #77cc6d;
}
.section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
.section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
.credits a {
  display: block;
  text-align: center;
  color: #74d4b3;
  text-decoration: none;
  font-size: 24px;
  margin-top: 50px;
  background: white;
  padding: 20px;
  max-width: 300px;
}