.logo{
    width: 80px;
    height: 80px;
    background-color: tomato;
  }
  
  
  li{
    margin:0px 20px 0px;
      justify-content: initial;
      text-decoration: none;
  }
  .nav-link{
      color: black;
  }
  
  #header{
    background-color: white;
    margin-top: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
   
  }
  
  
  
  .footer {
   
     background-color:white;
     color: black;
     display:flex;
     justify-content: center;
     align-items: center;
     height: 50px;
   bottom: 0;
   position: relative;
   width: 100%;
     
   }
  
  
  
   /* ________________________________________________________________*/

.headline{
  margin-top: 3%;
  text-align: center;
  font-family: initial;
  font-weight: bold;
}



.container{
 margin-top: 1%;
 margin-bottom: 1%;
  margin-left: 20%;
 
 
}





.clgname i span{
  font-size: larger;
  font-family: initial;
  font-weight: bold;
}


.structure{
  width: 70%;
  line-height: 2;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
 
  background: none;
  border: 1px black solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








   